<div class="pt-3">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="m-0 text-center flex-grow-1">My devices</h4>
    <button class="border-0 bg-transparent ms-auto text-secondary">
      <i class="bi bi-plus-circle fs-4"></i>
    </button>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <div class="device-icon me-3 min-w-[200px]">
          <i class="bi bi-bluetooth text-primary fs-4"></i>
        </div>

        <div class="w-100">
          <div>
            <h6 class="mb-1">BT01191918898</h6>
            <p class="m-0 mb-1 text-muted">Connectable</p>
          </div>

          <div class="actions">
            <div class="flex-grow-1">
              <div class="d-flex align-items-center">
                <i class="bi bi-bluetooth text-secondary me-2"></i>
                <span class="text-secondary">Bluetooth</span>
              </div>
            </div>
            <div
              class="d-flex justify-content-between flex-grow-1 gap-3 main-actions"
            >
              <i class="bi bi-bell text-secondary"></i>
              <i class="bi bi-share text-secondary"></i>
              <i class="bi bi-gear text-secondary"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bottom-nav py-2">
  <div class="row text-center g-0">
    <div class="col">
      <a class="text-primary text-decoration-none">
        <i class="bi bi-circle-fill nav-icon d-block"></i>
        <small>Devices</small>
      </a>
    </div>
    <div class="col">
      <a class="text-secondary text-decoration-none">
        <i class="bi bi-people nav-icon d-block"></i>
        <small>Member</small>
      </a>
    </div>
    <div class="col">
      <a class="text-secondary text-decoration-none">
        <i class="bi bi-chat nav-icon d-block"></i>
        <small>Inbox</small>
      </a>
    </div>
    <div class="col">
      <a class="text-secondary text-decoration-none">
        <i class="bi bi-person nav-icon d-block"></i>
        <small>Me</small>
      </a>
    </div>
  </div>
</div>
