.device-icon {
  width: 120px;
  height: 120px;
  min-width: 120px;
  border: 2px solid #0d6efd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-icon {
  font-size: 1.5rem;
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  border-top: 1px solid #dee2e6;
}

.actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  & .main-actions {
    max-width: 250px;
    & i {
      font-size: 32px;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 380px) {
  .device-icon {
    width: 80px;
    height: 80px;
    min-width: 80px;
  }

  .actions {
    & .main-actions {
      width: 100%;
      & i {
        font-size: 24px;

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}
