<div>
  <nav class="bg-light p-4">
    <div class="d-flex align-items-center justify-content-between">
      <button class="border-0 bg-transparent fw-medium" (click)="onRoute()">
        Go to {{ baseUrl === "angular" ? "Design Page" : "Angular Page" }}
      </button>

      <div class="" id="navbarNav">
        <ul class="d-flex align-items-center gap-3 m-0 p-0">
          <li class="">
            <a
              class="nav-link"
              routerLink="/angular/grid-paging"
              routerLinkActive="text-primary"
              [routerLinkActiveOptions]="{ exact: true }"
              >Grid1</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/angular/grid-sorting"
              routerLinkActive="text-primary"
              [routerLinkActiveOptions]="{ exact: true }"
              >Grid2</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/angular/grid-filtering"
              routerLinkActive="text-primary"
              [routerLinkActiveOptions]="{ exact: true }"
              >Grid3</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/angular/grid-editing"
              routerLinkActive="text-primary"
              [routerLinkActiveOptions]="{ exact: true }"
              >Grid4</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
